{% extends 'blocks/base.html' %}

{% block proglinks %}
<a class="nav-link" href="{% url 'blocks:prog1' %}">Common Pixels</a>
<a class="nav-link" href="{% url 'blocks:prog2' %}">Isolation</a>
<a class="nav-link" href="{% url 'blocks:prog3' %}">Detection & Highlight</a>
{% endblock %}

{% block photo %}
<a class="navbar-brand" href="{% url 'blocks:home' %}">
    <img src="/static/blocks/images/logo.webp" alt=""/>
</a>
{% endblock %}

{% block user %}
<a class="nav-link" href="{% url 'blocks:log' %}">Log in</a>|
<a class="nav-link" href="{% url 'blocks:reg' %}">Registration</a>
{% endblock %}

{% block section %}
<div class="caption">Login</div>
<div class="registr">
    <form method="POST" action="">
        {% csrf_token %}
        <div class="name">
            <div class="reginfo">Username</div>
            <input type="text" name="username" placeholder="Enter username..">
            {% if form.username.errors %}
            <div class="error-message">{{ form.username.errors }}</div>
            {% endif %}
        </div>

        <div class="password1">
            <div class="reginfo">Password</div>
            <input type="password" name="password" placeholder="Enter password..">
            {% if form.password.errors %}
            <div class="error-message">{{ form.password.errors }}</div>
            {% endif %}
        </div>


<!--        {{ form.errors }}-->
        <div class="logquestion">Don't have an account? <a href="{% url 'blocks:reg' %}" style="color: lightblue;">Register</a>
        </div>
        {% for message in messages %}
        <p id="messages">{{ message }}</p>
        {% endfor %}

        <div class="buttonsubmit">
            <button type="submit">Submit</button>
        </div>
    </form>
</div>
<script>
    var form_fields = document.getElementsByTagName('input');
    form_fields[1].placeholder = 'Enter username..';
    form_fields[2].placeholder = 'Enter password..';

    for (var i = 0; i < form_fields.length; i++) {
        form_fields[i].className += ' form-control';
    }


</script>
{% endblock %}
