html, body {
  background-color: #34495e;
  margin: 0;
  padding: 0;
  position: relative;
}

/*хедр*/
header {
  height: 125px;
  width: 100%;

  background-color: #66c5a8;
  /* position: fixed; */
  top: 0;
}

.container {
  width: 100%;
  height: 100%;
  color: #000;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 26px;
  display: flex;
  justify-content: space-between;
}

.container a {
  color: #000;
  text-decoration: none;
}

.main {
  width: 700px;
  height: 100%;
  padding: 0 0 0 20px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.login {
  width: 240px;
  height: auto;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding: 20px;
}

.navbar-brand img {
  width: 107px;
}

/*основний блок*/

.content {
  max-width: 1400px;
  height: auto;
  margin: 0 auto;
}

.caption {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  height: 60px;
  font-size: 36px;
  font-family: "jejugothic", sans-serif;
}

.description {
  height: 80px;
  text-align: center;
  color: #ffffff;
  font-size: 18px;
  font-family: "jejugothic", sans-serif;
  padding: 0 20px;
  margin-bottom: 10px;
}

.login-link {
    color: blue; /* Зміна кольору тексту на синій */
    text-decoration: underline; /* Додавання підкреслення до тексту */
}


.three-img {
  max-width: 100%;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Рівномірно розташовує картинки вздовж горизонталі */
  padding: 0 50px; /* Додає відступи до контейнера */
  max-width: 100%; /* Зробить контейнер відповідним за шириною екрану */
  /* overflow: auto; Додає горизонтальний скролінг, якщо картинки не влазять в екран */
  margin-bottom: 120px;
}

.image-item {
  /* flex: 1; Займає рівну ширину відносно інших .image-item */
  max-width: 400px; /* Зменшує розмір .image-item до 400 пікселів по ширині */
  text-decoration: none;
}

.image-item img {
  max-width: 100%; /* Зробить зображення відповідним за шириною .image-item */
  max-height: 100%; /* Зробить зображення відповідним за висотою .image-item */
  width: 400px; /* Фіксована ширина картинок */
  height: 300px; /* Фіксована висота картинок */
}

.login-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -100px;
}

.login-image-item img {
  width: 262px;
}

.three-img .image-item p {
  color: white;
}

/* реєстрація */

.registr{
  display: flex;
  flex-direction: column;
  align-items: center; /* Центрування по вертикалі для тексту та кнопки */
  margin-top: 10px;
  margin-bottom: 200px;
  color: rgb(234, 225, 225);
  font-size: 22px;
  font-family: "Inter", sans-serif;
}

/* Стилі для полів вводу даних */
.registr input[type="text"], .registr input[type="email"], .registr input[type="password"] {
  width: 300px;
  height: 20px;
  /* Додайте інші стилі за потреби */
}

.buttonsubmit {
  text-align: center; /* Центрування тексту усередині блоку по горизонталі */
  margin-top: 20px;
  text-decoration: none;
}

.registr .button-container {
  text-align: center; /* Центрування кнопки по горизонталі */
}

/* Стилі для овальної і зеленої кнопки */
.registr button[type="submit"] {
  background-color: green; /* Колір фону кнопки */
  color: white; /* Колір тексту на кнопці */
  border: none; /* Видалення рамки */
  border-radius: 50%; /* Заокруглені кути, щоб зробити кнопку овальною */
  width: 100px; /* Задайте бажану ширину кнопки */
  height: 40px; /* Задайте бажану висоту кнопки */
  text-align: center; /* Вирівнювання тексту по центру */
  line-height: 40px; /* Вирівнювання тексту по вертикалі по центру */
  cursor: pointer; /* Змінює вид курсору при наведенні */
  font-family: "Inter", sans-serif;
}

/* Стилі при наведенні на кнопку */
.registr button[type="submit"]:hover {
  background-color: darkgreen; /* Змінюємо колір фону при наведенні */
}

.name, .email, .password1, .password2 {
  margin-bottom: 10px; /* Внутрішній відступ між кожним елементом */
}

.logquestion{
color: white;
font-family: "Inter", sans-serif;
font-size: 14px;

}

.download-button {
  background-color: rgb(51, 224, 255); /* Колір фону кнопки (блакитний) */
  color: white; /* Колір тексту на кнопці (білий) */
  border: none; /* Видалення рамки */
  border-radius: 10px; /* Заокруглені кути, щоб зробити кнопку замість овальної прямокутною */
  width: 200px; /* Задайте бажану ширину кнопки */
  height: 40px; /* Задайте бажану висоту кнопки */
  text-align: center; /* Вирівнювання тексту по центру */
  line-height: 40px; /* Вирівнювання тексту по вертикалі по центру */
  cursor: pointer; /* Змінює вид курсору при наведенні */
  font-family: "Inter", sans-serif;
  text-decoration: none;
}

div.buttonsubmit a.download-button {
    text-decoration: none;
}

/* Стилі при наведенні на кнопку */
.download-button:hover {
  background-color: blue; /* Змінюємо колір фону при наведенні */
}

.final-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    margin: 0;
    padding: 0;
}

.final-img img {
    width: 550px;
    max-width: 100%; /* Ensure the image doesn't exceed its container */
    height: auto;
}

#photoProcessStatus {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 22px;
}

#imageDate{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 18px;
}

.history{
    display: flex;
    height: 10vh;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 22px;
}

#latest-dates{
display: flex;
    height: 10vh;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 14px;
}

#latest-dates ul {
    list-style-type: none;
    padding: 0;
}

#latest-dates ul li::before {
    content: none;
}



/*футер*/

footer {
  height: 95px;
  width: 100%;
  background-color: #66c5a8;
  align-items: center;
  /* position: fixed; */
  top: 0;
  font-family: "Inter", sans-serif;
  text-align: center; /* Add this line to center the text */
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.col-lg-4 {
  flex: 1;
  min-width: calc(33.33% - 1em); /* Adjust the width as needed */
}

.footer-text {
  text-align: left; /* Вирівнювання тексту ліворуч */
}

.media-links {
  text-align: right; /* Вирівнювання медіа-елементів праворуч */
}

.media-links a {
  margin-inline: 1em;
}

.media-links img {
  width: 43px;
}

.footer-text.text-left p {
  text-align: left;
  padding-left: 1em; /* Додаємо індент у тексті */
}

/* Збільшуємо відступи зліва і справа для тексту у футері */
.footer-text.text-left,
.footer-text.text-center {
  margin: 10px;
}

.footer-text.text-center.col-lg-4 p {
  text-align: center;
}

/* адаптація */

@media (max-width: 1350px) {
  header {
    height: 100%;
    width: 100%;

    background-color: #66c5a8;
    /* position: fixed; */
    top: 0;
  }

  .description {
    height: 100px;
    font-size: 17px;
    margin-bottom: 5px;
  }

  .three-img {
    height: 200px;
    padding: 0 50px; /* Додає відступи до контейнера */
    margin-bottom: 140px;
  }

  .image-item {
    max-width: 265px; /* Зменшує розмір .image-item до 400 пікселів по ширині */
    margin-bottom: 0px;
  }

  .image-item img {
    width: 265px; /* Фіксована ширина картинок */
    height: 200px; /* Фіксована висота картинок */
  }

  .login-bottom {
    margin: 10px;
    margin-top: -110px;
  }

  .login-image-item img {
    width: 180px;
  }

  .final-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.final-img img {
    width: 400px;
    max-width: 100%; /* Ensure the image doesn't exceed its container */
    height: auto;
}

  footer {
    height: 100px;
  }
}

@media (max-width: 1000px) {
  .container {
    flex-direction: column; /* Змінити на колонку при меншому розмірі екрану */
    align-items: center; /* Це допоможе вирівняти елементи по центру */
    font-size: 22px;
  }

  header {
    height: 100%;
    width: 100%;

    background-color: #66c5a8;
    /* position: fixed; */
    top: 0;
  }

  .content {
    max-width: 1000px;
  }

  .description {
    height: 100px;
    font-size: 17px;
    margin-bottom: 5px;
  }

  .three-img {
    height: 150px;
    padding: 0 50px; /* Додає відступи до контейнера */
    margin-bottom: 190px;
  }

  .image-item {
    max-width: 200px; /* Зменшує розмір .image-item до 400 пікселів по ширині */
  }

  .image-item img {
    width: 200px; /* Фіксована ширина картинок */
    height: 150px; /* Фіксована висота картинок */
  }

  .login-image-item img {
    width: 180px;
    margin-top: -120px;
  }

  footer {
    height: 115px;
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Змінити на колонку при меншому розмірі екрану */
    align-items: center; /* Це допоможе вирівняти елементи по центру */
  }

  .main,
  .login {
    width: 100%; /* Змінено ширину на 100% для адаптивності */
    height: auto; /* Змінено висоту на автоматично */
    text-align: center;
    display: block; /* Змінено display на block */
    display: flex;
    padding: 0 0 0 0px;
    flex-direction: column;
  }

  .navbar-brand img {
    width: 87px;
  }

  .content {
    max-width: 768px;
  }

  .description {
    height: 100px;
    font-size: 17px;
    margin-bottom: 50px;
  }

  .three-img {
    flex-direction: column;
    justify-items: center;
    align-items: center; /* Вирівнюємо елементи по центру вертикально */
    width: 400px; /* Змінено ширину на 100% для адаптивності */
    padding: 0 0px;
    margin: 0 auto;
    height: auto; /* Змінено висоту на автоматично */
    display: block; /* Змінено display на block */
    display: flex;
  }

  .image-item {
    margin: 15px 0; /* Відступ між елементами */
    max-width: 200px; /* Зменшує розмір .image-item до 200 пікселів по ширині */
  }

  .image-item img {
    width: 100%; /* Ширина картинок заповнює батьківський контейнер */
    height: auto; /* Автоматична висота картинок, щоб зберегти пропорції */
  }

  .login-bottom {
    margin: 70px;
  }

  .login-image-item img {
    width: 150px;
  }

  footer {
    font-size: 14px;
    height: 130px;
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .media-links a {
    margin-inline: 0.5em;
  }

  .media-links img {
    width: 33px;
  }
}

@media (max-width: 465px) {
  .container {
    flex-direction: column; /* Змінити на колонку при меншому розмірі екрану */
    align-items: center; /* Це допоможе вирівняти елементи по центру */
  }

  .main,
  .login {
    width: 100%; /* Змінено ширину на 100% для адаптивності */
    height: auto; /* Змінено висоту на автоматично */
    text-align: center;
    display: block; /* Змінено display на block */
    display: flex;
    padding: 0 0 0 0px;
    flex-direction: column;
  }

  .navbar-brand img {
    width: 87px;
  }

  .content {
    max-width: 465px;
  }

  .description {
    height: 100px;
    font-size: 17px;
    margin-bottom: 90px;
  }

  .three-img {
    flex-direction: column;
    justify-items: center;
    align-items: center; /* Вирівнюємо елементи по центру вертикально */
    width: 400px; /* Змінено ширину на 100% для адаптивності */
    padding: 0 0px;
    margin: 0 auto;
    height: auto; /* Змінено висоту на автоматично */
    display: block; /* Змінено display на block */
    display: flex;
  }

  .image-item {
    margin: 15px 0; /* Відступ між елементами */
    max-width: 200px; /* Зменшує розмір .image-item до 200 пікселів по ширині */
  }

  .image-item img {
    width: 100%; /* Ширина картинок заповнює батьківський контейнер */
    height: auto; /* Автоматична висота картинок, щоб зберегти пропорції */
  }

  .login-bottom {
    margin: 30px;
  }

  .login-image-item img {
    width: 120px;
  }

  footer {
    font-size: 14px;
    height: 280px;
  }

  .row {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .media-links a {
    margin-inline: 0.5em;
  }

  .media-links img {
    width: 33px;
  }

  .media-links a {
    margin-inline: 1em;
    align-items: center;
  }
}
